
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'poppins';
}
body{
    width: 90%;
    margin: 30px;
    margin-top:50px;
}
h2{
    margin-left:20px;
     padding-bottom: 10px;
    font-size:35px;
    font-weight: 600;
    color:darkorange;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: lightslategray;

}
.table thead tr th{
    font-size:17px;
    font-weight: bold;
    opacity: 1;
    background-color:darkblue;
    color: white;
    letter-spacing:0.2em;
    vertical-align: top;
    padding:10px;
    border: 1px solid black;

}
.table tbody tr td{
    font-size:15px;
    font-weight:500px;
    opacity: 1;
    letter-spacing:0.1em;
    vertical-align: top;
    padding:10px;
    border: 1px solid black;
    text-align: justify;
   
    
}


.table tbody tr td:hover{
    background-color: lightgray;
    transition: .5s;
}